  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active d-flex justify-content-center">
        <img src="https://pbs.twimg.com/profile_images/1260273800152862720/XkOZwsEs_400x400.jpg" class="d-block w-25 mt-5" alt="...">
      </div>
    </div>
   
  </div>